<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Helfer</title>
    <style>
        body {
            background-color: #1e1e1e;
            color: #f0f0f0;
            font-family: sans-serif;
        }

        h1 {
            color: #ccc;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #ddd;
        }

        input[type="text"],
        input[type="number"],
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #555;
            background-color: #333;
            color: #f0f0f0;
            box-sizing: border-box;
        }

        textarea {
            height: 150px;
        }

        input[type="checkbox"] {
            margin-bottom: 10px;
        }

        button {
            background-color: #007bff;
            /* Blau für Bearbeiten */
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #0056b3;
        }

        div {
            margin-bottom: 15px;
        }

        a {
            color: #5cb85c;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
    <body>
        <a href="/spell"><button>Zauber</button></a> <br/><br/>
        <a href="/class"><button>Klassen</button></a><br/><br/>
        <a href="/spellcard"><button>Zauberkarten</button></a><br/><br/>
        <a href="/invocation"><button>Schauerliche Anrufungen</button></a>
    </body>
</html>