<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Helfer</title>
    <style>
        body {
            background-color: #1e1e1e;
            color: #f0f0f0;
            font-family: sans-serif;
        }

        h1 {
            color: #ccc;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #ddd;
        }

        input[type="text"],
        input[type="number"],
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #555;
            background-color: #333;
            color: #f0f0f0;
            box-sizing: border-box;
        }

        textarea {
            height: 150px;
        }

        input[type="checkbox"] {
            margin-bottom: 10px;
        }

        button {
            background-color: #007bff;
            /* Blau für Bearbeiten */
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #0056b3;
        }

        div {
            margin-bottom: 15px;
        }

        a {
            color: #5cb85c;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head><form method="GET" action="/spellcard/cards">
  <label>Klasse:
    <select name="klasse">
        <option value="">Alle</option>
        <option value="Barde">Barde</option>
        <option value="Hexenmeister">Hexenmeister</option>
        <option value="Magier">Magier</option>
        <option value="Kleriker">Kleriker</option>
        <option value="Druide">Druide</option>
        <option value="Paladin">Paladin</option>
        <option value="Waldläufer">Waldläufer</option>
        <option value="Zauberer">Zauberer</option>
        <option value="Magieschmied">Magieschmied</option>
    </select>
  </label>
<br>
  <label>Grad von:
    <select name="stufeVon">
      <% for (let i = 0; i <= 9; i++) { %>
        <option value="<%= i %>"><%= i %></option>
      <% } %>
    </select>
  </label>
<br>
  <label>Grad bis:
    <select name="stufeBis">
      <% for (let i = 0; i <= 9; i++) { %>
        <option value="<%= i %>"><%= i %></option>
      <% } %>
    </select>
  </label>
<br>
<label>Sortiert nach:
  <select name="sortiertNach">
    <option value="stufe">Grad</option>
    <option value="name">Name</option>
  </select>
</label>
<br>
  <button type="submit">PDF erzeugen</button>
  <button type="submit" name="withBackimage" value="true">PDF mit Rückseite erzeugen</button>
</form>
<br/>

<a href="/">Zurück zur Startseite</a>
</body>
</html>